@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;800;900&display=swap");

/* Constant styles  */
$mainColor: #2d1c70;
$secondColor: #e3402b;

@font-face {
  font-family: mainFont;
  src: url(../fonts/NocturneSerif-Regular.ttf);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  direction: rtl;
}

body {
  font-family: "Cairo", sans-serif;
  padding-right: 0 !important;
  // font-size: 16px;
  // height: 10000px;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* splach */
.splash {
  background-color: $mainColor;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.9s ease-in-out;
  .loading-container {
    width: 100%;
    max-width: 520px;
    text-align: center;
    color: #fff;
    position: relative;
    margin: 0 32px;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 3px;
    //   background-color: #fff;
    //   bottom: 0;
    //   left: 0;
    //   border-radius: 10px;
    //   animation: movingLine 2.4s infinite ease-in-out;
    // }
  }

  @keyframes movingLine {
    0% {
      opacity: 0;
      width: 0;
    }

    33.3%,
    66% {
      opacity: 0.8;
      width: 100%;
    }

    85% {
      width: 0;
      left: initial;
      right: 0;
      opacity: 1;
    }

    100% {
      opacity: 0;
      width: 0;
    }
  }

  .loading-text {
    font-size: 5vw;
    line-height: 64px;
    letter-spacing: 10px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-evenly;
    direction: ltr;
    span {
      animation: moveLetters 2.4s infinite ease-in-out;
      transform: translatex(0);
      position: relative;
      display: inline-block;
      opacity: 0;
      text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
    }
  }

  @for $i from 1 through 7 {
    .loading-text span:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }

  @keyframes moveLetters {
    0% {
      transform: translateX(-15vw);
      opacity: 0;
    }

    33.3%,
    66% {
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateX(15vw);
      opacity: 0;
    }
  }
  .socials {
    margin-top: 20px;
  }
}

.splashdisplayNone {
  opacity: 0 !important;
  visibility: hidden !important;
  z-index: -1 !important;
  // height: 0 !important;
  // display: none;
}

@media (max-width: 524px) {
  .splash .loading-text {
    margin-bottom: 0;
  }
}

/* Main Style */
.mainbtn {
  border-radius: 62px;
  background-color: $secondColor;
  color: #fff;
  border-color: $secondColor;
  padding: 8px 25px;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  img {
    margin-left: 5px;
    display: inline-flex;
  }
  span {
    display: inline-flex;
  }
  &:hover {
    background-color: #d4331e;
    color: #fff;
    i {
      // color: $secondColor;
    }
  }
}

.secondbtn {
  background-color: #fff;
  border-color: $secondColor;
  color: $secondColor;
  border-radius: 62px;
  padding: 8px 25px;
  font-size: 0.9rem;
  margin-right: 5px;
  &:hover {
    background-color: rgb(255, 245, 245);
    // border-color: rgb(255, 245, 245);
    color: $secondColor;
    i {
      color: #fff;
    }
  }
}

.secton-header {
  h6 {
    color: $secondColor;
    font-size: 0.9rem;
  }
  h5 {
    font-size: 1.9rem;
    font-weight: bold;
    color: $mainColor;
  }
}

.mobile-icon {
  display: none;
  i {
    color: #fff;
    font-size: 1.8rem;
  }
}

.path {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      a {
        font-size: 0.8rem;
        color: #2f2d34;

        i {
          color: $secondColor;
        }
      }
      &::after {
        content: "/";
      }
      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}

#floating {
  position: fixed;
  z-index: 1;
  width: 45px;
  height: 45px;
  line-height: 70px;
  text-align: center;
  border-radius: 5px;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all 0.5s;
  i {
    color: $mainColor;
    font-size: 25px;
    font-weight: bold;
  }
}

/* Side Nav */

.openMenuActive {
  height: 100%;
  overflow: hidden;
  // display: none;
}

.bg-sidenavOpen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

/* sidenav */
.sidenav {
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: -100%;
  background-color: rgba(255, 255, 255, 0.942);
  box-shadow: 0 22px 22px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  // padding: 0 20px;
  padding-top: 30px;
  transition: 0.5s;
  text-align: center;
  padding-bottom: 10px;
  visibility: hidden;
  opacity: 0;
  .logo {
    margin-top: 55px;
    margin-bottom: 25px;
    img {
      width: auto;
    }
  }

  .closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;

    // margin-left: 50px;
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      border: 2px solid $mainColor;
      color: $mainColor !important;
      line-height: 37px;
      // @extend %transition;
    }
  }

  .links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: right;

    li {
      margin-bottom: 10px;
      width: 100%;
      // text-align: center;
      a {
        position: relative;
        // display: inline-block;
        i {
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      a {
        text-decoration: none;
        color: $mainColor;
        display: block;
        font-weight: 600;
        width: 100%;
        padding: 10px 20px;
        font-size: 1.2rem;
        text-transform: capitalize;
        &:hover {
          color: $mainColor;
          i {
            color: $mainColor;
          }
        }
      }

      .submenue {
        display: none;
        li {
          margin-bottom: 0;
        }
      }

      &.active {
        a {
          background-color: #fff;
          color: $mainColor;
          i {
            color: $mainColor;
          }
        }
      }
    }
  }

  .lang {
    a {
      color: $secondColor;
      font-size: 16px;
      text-decoration: none;
      font-family: "Cairo", sans-serif;
    }
  }

  .social {
    // margin-top: 30px;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 10px;

        i {
          color: $secondColor;
          font-size: 16px;
        }
      }
    }
  }
  .sidenavmenueParent {
    a {
      position: relative !important;
      i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1rem;
      }
    }
    ul {
      padding-right: 10px;
      display: none;
      li {
        margin-bottom: 5px !important;
        padding-bottom: 5px;
        a {
          padding: 5px 20px;
        }
      }
    }
  }
  .lang-cur {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 5px;
        a {
          font-size: 1rem;
          color: #000 !important;
          font-weight: bold;
          display: flex;
          align-items: center;
        }
        img {
          display: inline-flex;
          width: 20px;
        }
      }
      span.line {
        display: inline-flex;
        height: 10px;
        width: 2px;
        background-color: $secondColor;
      }
    }
  }
}

#html5-watermark {
  display: none !important;
}

/* section navbar */
.mynavbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 24px 0;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .mainlist {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      li {
        margin-right: 7px;
        margin-left: 7px;
        display: inline-flex;
        position: relative;
        cursor: pointer;
        a {
          color: #fff;
          font-size: 0.9rem;
        }
        .parentlink {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &.currancy {
            img {
              margin-right: 4px;
            }
          }
          &.signup {
            img {
              margin-left: 4px;
            }
          }
        }
        &.login {
          border: 1px solid #fff;
          border-radius: 62px;
          transition: all 0.3s ease-in-out;
          a{
            display: block;
            width: 100%;
            height: 100%;
            padding: 8px 30px;
          }
          &:hover {
            background-color: #fff;
            a {
              color: $mainColor;
            }
          }
        }
        .submenue {
          background-color: #fff;
          box-shadow: 0 0 4px rgba(114, 114, 114, 0.35);
          padding: 5px;
          border-radius: 5px;
          position: absolute;
          width: max-content;
          top: 100%;
          right: 0;
          transform: translateY(10px);
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s linear;
          ul {
            margin-bottom: 0;
          }
          li {
            margin-right: 0;
            margin-left: 0;
            padding: 5px 25px;
            padding-right: 9px;
            margin-bottom: 5px;
            border-radius: 5px;
            width: 100%;
            transition: all 0.3s ease-in-out;
            a {
              font-size: 0.95rem;
              color: $mainColor;
            }
            &:hover {
              background-color: #e1e1e1;
            }
          }
        }
        &:hover {
          .submenue {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translateY(3px);
          }
        }
      }
    }
    .links {
      li {
        // margin-right: 10px;
        // margin-left: 10px;;
        display: flex;
        align-items: center;
        i {
          // position: absolute;
          // left: -10px;
          // top: 50%;
          margin-top: 2px;
          margin-right: 5px;
          font-size: 0.6rem;
          // transform: translate(0,-50%);
          color: #fff;
        }
      }
      .mainlist {
        li {
          margin-right: 7px;
          margin-left: 17px;
        }
      }
    }
    .languge {
      li {
        .line {
          height: 15px;
          width: 2px;
          background-color: #fff;
          display: inline-block;
        }
        i {
          margin-right: 0;
          margin-left: 5px;
        }
        img {
          width: 20px;
        }
      }
    }
  }

  .menu {
    // width: 40px;
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
    cursor: pointer;
    z-index: 9999999;
    /* Icon 1 */

    #nav-icon1,
    #nav-icon2,
    #nav-icon3,
    #nav-icon4 {
      width: 2.8rem;
      height: 40px;
      position: relative;
      // margin: 50px auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon1 span,
    #nav-icon3 span,
    #nav-icon4 span {
      display: block;
      position: absolute;
      height: 0.2rem;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.45s ease-in-out;
      -moz-transition: 0.45s ease-in-out;
      -o-transition: 0.45s ease-in-out;
      transition: 0.45s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
      top: 0px;
    }

    #nav-icon1 span:nth-child(2) {
      top: 10px;
    }

    #nav-icon1 span:nth-child(3) {
      top: 20px;
    }

    #nav-icon1.open span {
      background-color: $mainColor;
    }

    #nav-icon1.open span:nth-child(2) {
      top: 18px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(1) {
      opacity: 0;
      top: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
      top: 18px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

.openBurgerMenu {
  right: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
  // display: block !important;
}

.burgerMenubodybg {
  display: block !important;
}

.anouthernavbar {
  position: unset;
  background-color: $mainColor;
  .menu {
    margin-top: 8px;
  }
}

/* section header */
.header {
  background-color: $mainColor;
  padding: 160px 0;
  padding-top: 190px;
  overflow: hidden;
  .heder-content {
    height: 100%;
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    h5 {
      font-size: 3.2rem;
      color: #fff;
      font-weight: bold;
    }
    p {
      font-size: 1.2rem;
      color: #fff;
    }
    form {
      margin-top: 40px;
      .input-group {
        height: 45px;
        border: 1px solid #fff;
        border-radius: 25px;
        cursor: pointer;
        input {
          height: 100%;
          border-radius: 25px;
          background-color: transparent;
          border: 0;
          padding-right: 24px;
          font-size: 0.9rem;
          color: #fff;
          &:focus {
            outline: 0 !important;
            box-shadow: none !important;
          }
        }
        .input-group-append {
          .input-group-text {
            height: 100%;
            border-radius: 25px;
            background-color: #fff;
            border: 0;
            font-size: 0.8rem;
            padding: 0 21px;
            &:hover {
              opacity: 0.8;
              // background-color: rgb(218, 218, 218);
              // color: #fff;
            }
          }
        }
      }
    }
  }
  .header-form {
    background-color: #fff;
    padding: 28px;
    border-radius: 18px;
    position: relative;
    width: 80%;
    margin: auto;
    position: relative;
    // z-index: 9999;
    &::before {
      position: absolute;
      content: url("../images/form-img.svg");
      width: 100%;
      height: 100%;
      right: -70px;
      top: -89px;
    }
    h5 {
      text-align: center;
      margin-bottom: 20px;
      color: $mainColor;
    }
    .form-group {
      position: relative;
      margin-top: 20px;
      label {
        font-size: 0.8rem;
        color: #2f2d34;
        background-color: #fff;
        position: absolute;
        top: -11px;
        z-index: 9;
        right: 10px;
      }
      .nice-select {
        width: 100%;
        float: none;
        text-align: right !important;
        padding: 0.375rem 0.75rem;
        &::after {
          right: unset;
          left: 10px;
        }
        .list {
          width: 100%;
          text-align: right;
          // position: relative;
          z-index: 9999;
          .option {
            text-align: right;
            padding-right: 5px;
          }
        }
      }
    }
    .form-control {
      border-radius: 7px;
      border: 1px solid #dae0e4;
      height: 51px;
      text-align: right;
      &::placeholder {
        font-size: 0.9rem;
        color: #000;
      }
      &:focus {
        outline: 0 !important;
        box-shadow: none !important;
      }
    }

    .form-group-parent {
      .form-group {
        position: relative;
        margin-bottom: 0;
        i {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translate(0, -50%);
          color: #dae0e4;
        }
        input {
          opacity: 0;
          visibility: hidden;
          display: none;
        }
        .chosen-country {
          border-radius: 7px;
          border: 1px solid #dae0e4;
          height: 51px;
          display: flex;
          align-items: center;
          padding: 0.375rem 0.75rem;
          cursor: pointer;
        }
      }
      .countries {
        height: 300px;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(114, 114, 114, 0.35);
        border-radius: 10px;
        z-index: 99999;
        padding: 10px;
        overflow: auto;
        display: none;
        .country {
          padding: 7px;
          margin-bottom: 5px;
          border-radius: 5px;
          img {
            display: inline-block;
            margin-left: 5px;
          }
          cursor: pointer;
          &:hover {
            background-color: #e1e1e1;
          }
        }
      }
    }
    .dimentions {
      height: 100%;
      display: flex;
      align-items: center;
      color: $secondColor;
      text-decoration: underline;
      position: relative;
      z-index: 99;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      a {
        color: $secondColor;
      }
    }
    .btn-submit {
      position: relative;
      z-index: 99;
      text-align: center;
      .btn {
        display: inline-flex;
        align-items: center;
        margin-top: 30px;
        span {
          display: inline-flex;
        }
        img {
          margin-right: 5px;
          display: inline-flex;
        }
      }
    }
  }

  .form-group {
    .input-group {
      height: 51px;
      input {
        height: 100%;
      }
      .nice-select {
        width: 30% !important;
        height: 100%;
      }
    }
  }
  .dimentionsparent {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .enterdimentions {
    // opacity: 0;
    // visibility: hidden;
    // height: 0;
    // transition: all .3s ease-in-out;
    // display: none;
  }
}

@media (min-width: 1439px) {
  .header-form {
    width: 69% !important;
  }
}

.activeenterdiemntions {
  opacity: 1 !important;
  visibility: visible !important;
  height: auto !important;
}

.contentheadersmall {
  .heder-content {
    display: none;
  }
}

/* shop-ship */
.shop-ship {
  margin-top: 54px;
  margin-bottom: 54px;
  .secton-header {
    text-align: center;
    margin-bottom: 50px;
  }
  ul {
    height: 100%;
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    li {
      display: flex;
      align-items: center;
      // justify-content: flex-end;
      margin-bottom: 41px;
      width: 80%;
      span {
        color: #2f2d34;
        font-weight: bold;
        font-size: 1rem;
        margin-right: 22px;
        display: inline-flex;
        // width: 60%;
      }
      img {
        display: inline-flex;
      }
    }
  }
  .leftlist {
    li {
      flex-direction: row-reverse;
      text-align: left;
      margin-right: auto;
      span {
        margin-right: 0;
        margin-left: 22px;
      }
    }
  }
  .shipping-image {
    text-align: center;
  }
}

/* puyforme */

.puyforme {
  background-color: rgba(227, 64, 43, 0.068);
  padding: 100px 0;
  padding-bottom: 50px;
  .secton-header {
    width: 365px;
    max-width: 100%;
    margin-bottom: 23px;
  }
  ul {
    li {
      margin-bottom: 11px;
      font-size: 1rem;
      color: rgba(47, 45, 52, 0.945);
      position: relative;
      padding-right: 25px;
      &::before {
        position: absolute;
        content: "\f00c";
        @extend %inilizeFonrtAwsome_Before_After;
        right: 0;
        color: $secondColor;
        font-size: 1rem;
      }
    }
  }
  .list-buttons {
    margin-top: 45px;
    .secondbtn {
      border-color: transparent;
      margin-left: 10px;
      img {
        margin-left: 5px;
      }
      &:hover {
        background-color: rgb(255, 249, 249);
        color: $secondColor;
      }
    }
    .mainbtn {
      border-color: transparent;
      &:hover {
        background-color: #d63a26;
        color: #fff;
      }
    }
  }
  .puyformemobilecontent {
    .list-buttons {
      display: none;
    }
  }
}

/* company */
.company {
  background-color: $secondColor;
  padding: 55px 0;
  .secton-header {
    text-align: center;
    width: 40%;
    margin: auto;
    h5,
    h6 {
      color: #fff;
    }
    margin-bottom: 30px;
  }
  .slider-item {
    .card {
      width: 160px;
      height: 160px;
      margin: auto;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 80%;
        filter: grayscale(0.5);
      }
      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
  }
}

/* important-site */
.important-site {
  margin-top: 67px;
  .secton-header {
    text-align: center;
  }
  .middlecard {
    .site-card {
      margin-top: 30px;
    }
  }
}
.site-card {
  border-radius: 17px;
  box-shadow: 0 0 27px rgba(227, 228, 233, 0.55);
  position: relative;
  padding: 10px;
  margin-bottom: 34px;
  .card-img {
    img {
      object-fit: cover;
      width: 100%;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
  }
  .card-title {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .card-text {
    font-size: 0.8rem;
    color: rgba(47, 45, 52, 0.541);
  }
  .card-link {
    position: absolute;
    padding: 8px 40px;
    color: $secondColor;
    border: 1px solid $secondColor;
    border-radius: 62px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -18px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    i {
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      background-color: $secondColor;
      color: #fff;
      i {
        color: #fff;
      }
    }
  }
}

/* pagebreadcrumb */
.pagebreadcrumb {
  background-color: rgba(227, 64, 43, 0.055);
  padding: 180px 0;
  padding-top: 47px;
  text-align: center;
  h5 {
    font-size: 2rem;
    color: $mainColor;
    font-weight: bold;
  }
}

.page-content {
  width: 80%;
  margin: auto;
  .card-image {
    text-align: center;
    margin-top: -150px;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
  .card-text {
    margin-bottom: 33px;
    h5 {
      font-weight: bold;
      font-size: 1.08rem;
    }
    p {
      font-size: 0.9rem;
      color: rgba(47, 45, 52, 0.507);
    }
  }
}

/* site-footer */
.site-footer {
  background-color: $mainColor;
  padding: 50px 0;
  margin-top: 101px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      li {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 15px;
        a {
          color: #fff;
          font-size: 0.9rem;
        }
        i {
          // position: absolute;
          // left: -10px;
          // top: 50%;
          margin-top: 2px;
          margin-right: 5px;
          font-size: 0.6rem;
          // transform: translate(0,-50%);
          color: #fff;
        }
        .submenue {
          background-color: #fff;
          box-shadow: 0 0 4px rgba(114, 114, 114, 0.35);
          padding: 5px;
          border-radius: 5px;
          position: absolute;
          width: max-content;
          bottom: 100%;
          right: 0;
          transform: translateY(10px);
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s linear;
          ul {
            margin-bottom: 0;
            flex-direction: column;
          }
          li {
            margin-right: 0;
            margin-left: 0;
            padding: 5px 25px;
            margin-bottom: 5px;
            border-radius: 5px;
            width: 100%;
            transition: all 0.3s ease-in-out;
            a {
              font-size: 0.95rem;
              color: $mainColor;
            }
            &:hover {
              background-color: #e1e1e1;
            }
          }
        }
        &:hover {
          .submenue {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translateY(3px);
          }
        }
      }
    }
  }
}



/* modal */
#enterDiemntionModal {
  z-index: 999999999999999999;
  .modal-header {
    // padding: 0;
    color: $secondColor;
    .btn {
      &:focus {
        outline: 0 !important;
        box-shadow: none;
      }
    }
  }

  .modal-content {
    border: 0;
    border-radius: 10px;
  }
  .modal-body{
    height: auto;
  }
}
#currencyModal,
#shipModal {
  z-index: 999999999999999999;
  .modal-header {
    color: $secondColor;
    .btn {
      &:focus {
        outline: 0 !important;
        box-shadow: none;
      }
    }
  }
  .modal-content {
    border: 0;
    border-radius: 8px;
  }
  .modal-body {
    padding-top: 0;
    .curr-ship-head{
      text-align: center;
      font-size: 1rem;
      margin: 0;
      span{
        color: $secondColor;
      }
    }
  }
  ul {
    li {
      border-bottom: 1px solid #eee;
      padding: 15px;
      border-radius: 5px;
      cursor: pointer;
      a {
        color: #000;
        display: block;
        height: 100%;
        width: 100%;
        img {
          width: 25px;
        }
      }
      &.active {
        background-color: $mainColor;
        span {
          color: #fff;
        }
      }
      &:hover {
        background-color: $mainColor;
        span {
          color: #fff;
        }
      }
    }
  }
}

#loginRigister {
  z-index: 999999999999999999;
  .modal-header {
    // padding-top: 0;
    // border: 0;
    // padding-bottom: 0;
  }
  .modal-content,
  .modal-body {
    border: 0;
  }
  .modal-body {
    padding: 30px;
    padding-top: 0;
    .nav {
      align-items: center;
      justify-content: center;
      // margin-top: 20px;
      .nav-item {
        .nav-link {
          color: #2f2d34;
          font-size: 0.9rem;
          border-bottom: 1px solid rgba(112, 112, 112, 0.253);
          border-radius: 0;
          &:focus {
            outline: 0 !important;
            box-shadow: none !important;
          }
          &.active {
            background-color: transparent;
            color: $secondColor;
            border-color: $secondColor;
          }
        }
      }
    }
    .form-group {
      margin-top: 25px;
    }
    .form-control {
      padding-right: 35px;
      &::placeholder {
        font-size: 0.9rem;
        color: rgba(47, 45, 52, 0.322);
      }
    }
    .forger-password {
      margin-top: 14px;
      ul {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          font-size: 0.9rem;
        }
        a {
          color: $secondColor;
        }
      }
      .container {
        display: inline;
        position: relative;
        padding-right: 20px;
        // margin-bottom: 12px;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 600;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          transition: all 0.3s ease-in-out;
          &:checked {
            ~ {
              .checkmark {
                background-color: #fff;
                border: 1px solid $secondColor;
                background-color: $secondColor;
                border-radius: 50%;
                &:after {
                  display: block;
                }
              }
            }
          }
        }
        .checkmark {
          transition: all 0.3s ease-in-out;
          &:after {
            left: 4px;
            top: 1px;
            width: 6px;
            height: 9px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .checkmark {
        position: absolute;
        top: unset;
        right: 0;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border: 1px solid $mainColor;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        &:after {
          content: "";
          position: absolute;
          display: none;
        }
      }
    }
    .orlogin {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 26px;
      margin-bottom: 40px;
      span {
        width: 123px;
        height: 1px;
        background-color: rgba(112, 112, 112, 0.205);
      }
      h3 {
        margin: 0;
        flex: unset;
        font-size: 0.9rem;
        color: #2f2d34;
        text-align: center;
      }
    }
    .orlogin-social {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          border-radius: 20px;
          margin: 5px;
          transition: all 0.3s ease-in-out;
          a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 5px 27px;
          }
          span,
          i {
            color: #fff;
            font-size: 0.9rem;
            margin-right: 5px;
          }
          span {
            font-size: 0.9rem;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

#followShip {
  z-index: 999999999999999999;
  .modal-body {
    .shipname {
      text-align: center;
      margin: 0;
      margin-bottom: 15px;
      h5 {
        font-size: 1rem;
        span {
          color: $secondColor;
        }
      }
    }
    .ship-info {
      background-color: rgba(227, 64, 43, 0.205);
      padding: 15px 23px;
      border-radius: 4px;
      ul {
        margin-bottom: 0;
        width: 60%;
        li {
          margin-top: 5px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            text-align: right;
            font-size: 0.9rem;
            &:last-child {
              color: $secondColor;
            }
          }
        }
      }
    }
    .ship-status {
      margin-top: 25px;
      ul {
        margin-bottom: 0;
        li {
          display: flex;
          align-items: flex-start;
          border-bottom: 1px solid rgba(47, 45, 52, 0.1);
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }
      .shipimgparent {
        position: relative;
        text-align: center;
        margin-left: 8px;
        .option {
          // position: absolute;
          // bottom: -10px;
          // left: 50%;
          // transform: translate(-50%, 0);
          margin-top: 13px;
          i {
            color: $secondColor;
            font-size: 1rem;
          }
        }
      }
      .shimg {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        border: 1px solid $secondColor;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        // flex: unset;
        margin: auto;
      }
      .shinf {
        p,
        h5 {
          margin: 0;
        }
        h5 {
          color: #2f2d34;
          font-size: 1rem;
          font-weight: 600;
        }
        p {
          font-size: 0.9rem;
          color: $secondColor;
        }
        .date {
          direction: ltr;
          span {
            font-size: 0.8rem;
            color: rgba(47, 45, 52, 0.404);
          }
        }
      }
    }
  }
}


.modal {
  .modal-header {
    justify-content: end;
    border: 0;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    i {
      color: rgba(112, 112, 112, 0.507);
    }
  }
  .modal-content {
    border-radius: 8px;
    border: 0;
    padding: 10px;
    padding-top: 0 !important;
  }
  .modal-body{
    padding-top: 0;
    height: 500px;
    overflow-y: auto;
  }
  .btn {
    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }
  }
  .modal-content {
    border-radius: 8px;
  }
  .form-group {
    position: relative;
    margin-top: 20px;
    label {
      font-size: 0.8rem;
      color: #2f2d34;
      background-color: #fff;
      position: absolute;
      top: -11px;
      z-index: 9;
      right: 10px;
    }
    i {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translate(0, -50%);
    }
    .nice-select {
      width: 100%;
      float: none;
      text-align: right !important;
      padding: 0.375rem 0.75rem;
      &::after {
        right: unset;
        left: 10px;
      }
      .list {
        width: 100%;
        text-align: right;
        // position: relative;
        z-index: 9999;
        .option {
          text-align: right;
          padding-right: 5px;
        }
      }
    }
  }
  .form-control {
    border-radius: 7px;
    border: 1px solid #dae0e4;
    height: 51px;
    text-align: right;
    &::placeholder {
      font-size: 0.9rem;
      color: #000;
    }
    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }
  }
  .btn-submit {
    position: relative;
    z-index: 99;
    text-align: center;
    .btn {
      display: inline-flex;
      align-items: center;
      margin-top: 30px;
      span {
        display: inline-flex;
      }
      img {
        margin-right: 5px;
        display: inline-flex;
      }
    }
  }
}

// simple bar
.simplebar-track {
  right: unset !important;
  left: 0;
  &::after {
    height: 98%;
    content: "";
    background-color: #707070;
    width: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .simplebar-scrollbar:before {
    background-color: $secondColor;
    opacity: 1 !important;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }
  .header .header-form {
    width: 90%;
  }
  .header .header-form::before {
    right: -82px;
    top: -94px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 13px;
  }
  .mynavbar {
    .links,
    .languge,
    .login {
      display: none;
    }
  }
  .mynavbar .menu {
    display: block;
    margin-top: 8px;
  }
  .header .heder-content h5 {
    font-size: 2.5rem;
  }
  .header .heder-content p {
    font-size: 1rem;
    margin: 0;
  }
  .shop-ship {
    .ordercoulmn {
      order: 3;
      margin: auto;
    }
  }
  .header .header-form::before {
    // display: none;
  }
  .header {
    padding-top: 130px;
    padding-bottom: 80px;
  }
  .header .header-form {
    margin-top: 30px;
  }
  .header .heder-content {
    width: 100%;
    text-align: center;
  }
  .header .header-form {
    width: 60%;
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .order2small {
    order: 2;
    .heder-content {
      height: auto;
      h5,
      p {
        display: none;
      }
    }
  }
  .contentheadersmall {
    .heder-content {
      height: auto;
      display: block;
    }
  }
}

@media (max-width: 524px) {
  .header .header-form {
    margin-top: 30px;
  }
  .header .heder-content {
    width: 100%;
    text-align: center;
  }
  .shop-ship li {
    flex-direction: column;
    justify-content: center;
  }
  .shop-ship ul {
    align-items: center;
  }
  .shop-ship .leftlist li {
    flex-direction: column;
    text-align: right;
    margin-right: unset;
    span {
      margin-right: 22px;
      margin-left: 0 !important;
    }
  }
  .shop-ship ul li span {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 60%;
    margin: auto;
    text-align: center;
  }
  .company .secton-header {
    width: 100%;
  }
  .important-site .middlecard .site-card {
    margin-top: 0 !important;
  }
  .important-site .secton-header {
    margin-bottom: 20px;
  }
  .site-footer .wrapper {
    flex-direction: column;
    ul {
      display: none;
    }
  }
  .page-content {
    width: 100%;
  }
  .header .header-form {
    width: 100%;
    margin-bottom: 10px;
  }
  .header .header-form::before {
    display: none;
  }
  .puyforme {
    .puyfordesktopcontent {
      .list-buttons {
        display: none;
      }
    }
  }
  .puyformemobilecontent {
    text-align: center;
    .list-buttons {
      display: block !important;
    }
  }
  #loginRigister .modal-body .orlogin-social ul {
    // flex-direction: column;
    flex-wrap: wrap;
    li {
      margin: 0;
      margin: 5px;
    }
  }
  #followShip .modal-body .ship-info ul{
    width: 100%;
  }
}

@media (max-width: 321px) {
  .secondbtn {
    margin-right: 0;
  }
  .shop-ship {
    .mainbtn {
      margin-bottom: 10px;
    }
  }
  .puyforme .list-buttons .secondbtn {
    margin-bottom: 10px;
  }
}

%backgroundImage {
  background-position: center;
  background-size: cover;
}

%inilizeFonrtAwsome_Before_After {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  transition: all 0.3s ease-in-out;
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
